
# class implementing TraceSource and providing traces
tracesource.class = haruspex.batchdiviner.KafkaTraceSource

# directories containing python scripts
python.path = scripts

# number of worker threads
worker.threadcount = 8

# for KafkaTraceSource, a list of entries specifying partitions this 
# Diviner listens to. Examples: 
# - 0,1,2 (partitions 0 to 2);
# - 0-2   (same as above)
# - 0-2,10-12,4  (partitions 0,1,2,10,11,12,4)
tracesource.partitions=0-511